.counters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 15%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .counters-container {
    flex-direction: column;
  }
}
