.footer-distributed {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-wrapper img {
  width: 50%;
  height: auto;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-center {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer-distributed {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
