.navbar {
  position: sticky;
  top: 0;
  background-color: #292727;
  /* z-index: 1; */
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-end;
}

.navbar-menu.active {
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
}

.navbar-logo {
  padding-left: 10px;
  font-family: "montserrat-semi-bold";
  color: #ffffff;
  font-size: 20px;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links button {
  background: none;
  border: none;
  font-family: "jaldi-bold";
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.navbar-links button:hover {
  text-decoration: underline;
}

.navbar-toggle {
  display: none;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
}

.changedBar-container {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  opacity: 1;
}

.changeBar1 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  opacity: 1;
  transform: translate(0) rotate(-45deg);
}

.changeBar2 {
  opacity: 0;
}

.changeBar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  opacity: 1;
  transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
  }
}
